body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #000000;
  color: #f8f8f8;
}

header {
  background: #222;
  color: #fafafc;
  padding: 1rem;
}

nav a {
  color: rgb(81, 65, 153);
  margin-right: 1rem;
  text-decoration: none;
}

main {
  padding: 2rem;
}

section {
  margin-bottom: 2rem;
}

footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 1rem;
}

